<div class="title">
    <img src="images/AddAnArticle.png">
</div>

<form>
    <div class="form-group">
        <strong>Title: </strong>
        <input type="text" class="form-control" ng-model="article.title">
    </div>

    <div class="form-group">
        <strong>URL: </strong>
        <input type="text" class="form-control" ng-model="article.URL">
    </div>

    <div >
        <input class="btn btn-success" type="button" value="Add Article" ng-click="save()"></input>
        <a href="/#/" class="btn btn-danger" style="background-color:saddlebrown">Cancel</a>
    </div>    
</form>

<div>
    <img src="images/shrekCute.jpg">
</div>