<div class="title">
    <img src="images/AddAnArticle.png">
</div>

<form>
    <div class="form-group">
        <strong>User Name: </strong>
        <input type="text" class="form-control" ng-model="user.login">
    </div>

    <div class="form-group">
        <strong>Password: </strong>
        <input type="password" class="form-control" ng-model="user.password">
    </div>

    <div >
        <input class="btn btn-success" type="button" value="Sign In" ng-click="signIn()"></input>
        <a href="/#/" class="btn btn-danger" style="background-color:saddlebrown">Cancel</a>
    </div>    
</form>

<div>
    <img src="images/shrekCute.jpg">
</div>